In [1]:
import numpy as np
import pandas as pd

In [5]:
data=pd.read_csv('training.xls')
data

  Experience Qualifications  Skills  Age Hired
0        Yes        Masters  Python   30   Yes
1        Yes      Bachelors  Python   25   Yes
2         No      Bachelors    Java   28    No
3        Yes        Masters    Java   40   Yes
4         No        Masters  Python   35    No

In [17]:
def find_s(data):
    attributes=data.iloc[:,:-1].values
    target=data.iloc[:,-1].values
    for i in range(len(target)):
        if target[i]=="Yes":
            hyp=attributes[i].copy()
        break
    for i in range(len(target)):
        if target[i]=="Yes":
            for j in range(len(hyp)):
                if hyp[j]!=attributes[i][j]:
                    hyp[j]='?'
    return hyp

In [19]:
fin_hyp=find_s(data)

In [5]:
fin_hyp

array(['Yes', '?', '?', '?'], dtype=object)